<div class="container">
  <%= link_to "< GENRES", genres_path, class: "waves-effect waves-light btn-large"%>
  <h1 class="song-genre-header"><%=@genre%></h1>
  <div class="col s12 song-holder">
      <div class="song-card">
        <%= image_tag(@img, :class => "card-image song-image col s6 ")%>
          <audio class = "hidden" src = "<%=@preview %>" controls autoplay></audio>
          <div class="song-content">
          <h2 class="song-name"><%=@name%></h2>
          <h4 class="song-artist"><%=@artist%></h4><br><br>
          <%= link_to "SKIP", delete_song_path(tracks: @tracks, genre: @genre), class: "waves-effect waves-light btn-large" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "ADD SONG", create_song_path(tracks: @tracks, genre: @genre), class: "waves-effect waves-light btn-large" %>
        </div>
    </div>
  </div>
</div>