<!DOCTYPE html>
<html>
  <head>
    <title>SpotifySearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="transparent">
      <div class="nav-wrapper darken-1">
        <%= link_to 'SpotifySearch', "#", class: "brand-logo"%>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if session[:user] %>
        <li><%= link_to 'Logout', '/user', method: :delete, class: "waves-effect waves-light btn-large" %></li>
        <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
